@charset "utf-8";
/*ワークスペースの位置調整*/
.workspace{
    display: flex;
    flex-direction: row;
}

.move_space {
    position: relative;
    width: 700px;
    display: inline-block;
    float:right;
}

.next_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.next_btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

#execute_btn{
  display: inline-block;
  font-size: 120%;
  padding: 1em 2em;
  text-decoration: none;
  background: #32cd32;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

#now{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ff6347;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.question{
  position: relative;
  margin: 0 0;
  padding: 25px 10px 7px;
  border: solid 2px #FFC107;
}
.question span{
  position: absolute;
  display: inline-block;
  top: -2px;
  left: -2px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 17px;
  background: #FFC107;
  color: #ffffff;
  font-weight: bold;
}

.question p {
  margin: 0;
  padding: 0;
}


/*問題題材の位置調整*/
.AVM {
    position: absolute;
    left: 250px;
    bottom: 100px;
}

.coin{
  position: absolute;
  right:120px;
  top:80px;
}

.change{
  position: absolute;
  right:540px;
  top:250px;
}

.not_change{
  position: absolute;
  right:450px;
  top:220px;
}

#push{
  position: absolute;
  right:180px;
  top:150px;
}
#drink{
  position: absolute;
  right:180px;
  top:150px;
}
#not_change_visi{
  position: relative;
}

#not_change_text{
  position: absolute;
  top:70px;
  left:70px;
}

#change_visi{
  position: relative;
}

#change_text{
  position: absolute;
  top:70px;
  left:70px;
}

#bar{
  position: absolute;
  right:480px;
  top:50px;
}

#coin_visi{
  position: relative;
}

#coin_text{
  position: absolute;
  top:70px;
  left:70px;
}
